{% extends "roadmap/base.html" %}

{% load wagtailcore_tags %}

{% block left-content %}
    <div class="row">
        <div class="col">
            <i class="fa fa-plus-square add-to-check-list centered-icon mr-2" aria-hidden="true" data-id="{{ page.id }}" data-title="{{ page.title }}"></i><h1 class="h1-heading mb-0 step-header centered-text"><strong>{{ page.title }}</strong></h1>
        </div>
    </div>

    <div class="row step-body mt-4">
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            {{ page.page_body|richtext }}
        </div>
        <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div id="checklist">
                {% include 'roadmap/partials/checklist.html' %}
            </div>

            {% if page.address or page.contact %}
                {% if page.contact %}
                    {% include 'roadmap/partials/contact.html' with contact=page.contact %}
                {% endif %}
                {% if page.address %}
                    <div id="map" data-lat="{{page.lat}}" data-lng="{{page.lng}}" data-address="{{page.address}}" style="width:350px;height:350px;"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if page.address %}
        <script>
          function initMap() {
            var mapDiv = document.getElementById('map');

            var myLatLng = {lat: Number(mapDiv.dataset.lat), lng: Number(mapDiv.dataset.lng)};

            var map = new google.maps.Map(mapDiv, {
              zoom: 13,
              center: myLatLng
            });

            var contentString = '<div id="content">'+
                '<h3 id="firstHeading" class="firstHeading">Get directions now</h3>'+
                '<div id="bodyContent"> <a href="http://maps.google.com/?q='+mapDiv.dataset.address+'">Go here</a>'
                '</div>'+
                '</div>';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });


            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_hKQV1UOV4Wsqj8D3SjDUg417An4w4I&callback=initMap"></script>
    {% endif %}
{% endblock %}
