{% load wagtailimages_tags %}

{% if contact %}
    <section class="contact-section mb-4">
        <div class="row no-gutters">
            <div class="col mb-2">
                <strong>Other questions?</strong> Talk to someone now:
            </div>
        </div>
        <div class="row mb-4">
            {% if contact.image %}
                <div class="col col-md-4">
                    {% image contact.image width-100 class="img-thumbnail" %}
                </div>
            {% endif %}
            <div class="col col-md-8">
                <p>{{ contact.name }}
                    {% if contact.location %}
                        at {{ contact.location }}
                    {% endif %}
                </p>
            </div>
        </div>
        {% if contact.email %}
            <div class="row">
                <div class="col">
                    <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i> <a href="mailto:{{ contact.email }}" class="contact-email">{{ contact.email }}</a>
                </div>
            </div>
        {% endif %}
        {% if contact.phone_number %}
            <div class="row">
                <div class="col">
                    <i class="fa fa-phone mr-2" aria-hidden="true"></i> {{ contact.phone_number }}
                </div>
            </div>
        {% endif %}
    </section>
{% endif %}